Flask
pymongo
gunicorn
openai
requests


python-dotenv  # Recommended for managing environment variables (like OPENAI_API_KEY)

# OpenAI API Client
openai

# flask login import
flask-login

werkzeug

docling

